/**
 *
 * ---------------------------------------------------------
 * AOH FRAMEWORK RTL CSS MAP
 * ---------------------------------------------------------
 *
 * 01. Base
 *     01. 01. Header
 *     01. 02. Header Buttons
 *     01. 03. Navigation
 *     01. 04. Content
 *     01. 05. Section
 *     01. 06. Show All Settings
 *     01. 07. Search Input
 *     01. 08. Copyright
 *     01. 09. Metabox
 * 02. Fields
 *     02. 01. Field: typography
 *     02. 02. Field: checkbox, radio
 *     02. 03. Field: switcher
 *     02. 04. Field: upload
 *     02. 05. Field: group
 *     02. 06. Field: repeater
 *     02. 07. Field: help
 *     02. 08. Field: icon
 *     02. 09. Field: gallery
 *     02. 10. Field: sorter
 *     02. 11. Field: tabbed
 *     02. 12. Field: media
 *     02. 13. Field: notice
 *     02. 14. Field: border, spacing, dimensions
 *     02. 15. Field: background
 *     02. 16. Field: spinner
 *     02. 17. Field: slider
 *     02. 18. Field: button_set
 *     02. 19. Field: link_color
 *     02. 20. Field: color_group
 *     02. 21. Field: palette
 *     02. 22. Field: accordion
 *     02. 23. Field: date
 *     02. 24. Field: map
 *     02. 25. Field: sortable
 *     02. 26. Field: number
 * 03. Taxonomy
 * 04. Profile
 * 05. Nav Menu
 * 06. Modal
 * 07. Customizer
 * 08. Responsive
 * 09. Others
 *
 * ---------------------------------------------------------
 *
 */
/**
 * 01. Base
 */
.aoh-options {
  margin-left: 20px;
  margin-right: 0;
}

/**
 * 01. 01. Header
 */
.aoh-header h1 {
  float: right;
}
.aoh-header fieldset {
  float: left;
}

/**
 * 01. 02. Header Buttons
 */
.aoh-buttons {
  float: left;
  direction: ltr;
}

.aoh-header-left {
  float: right;
}

.aoh-header-right {
  float: left;
}

/**
 * 01. 03. Navigation
 */
.aoh-nav {
  float: right;
}
.aoh-nav ul {
  clear: right;
}
.aoh-nav ul li .aoh-active:after {
  right: auto;
  left: 0;
  border-left-color: #fff;
  border-right-color: transparent;
}
.aoh-nav ul li .aoh-arrow:after {
  content: "\f053";
  right: auto;
  left: 10px;
}
.aoh-nav ul li.aoh-tab-expanded .aoh-arrow:after {
  transform: rotate(-90deg);
}
.aoh-nav ul ul li a {
  padding-right: 25px;
  padding-left: 15px;
}
.aoh-nav ul ul:before {
  left: auto;
  right: 15px;
}
.aoh-nav .aoh-tab-icon {
  margin-left: 5px;
  margin-right: 0;
}

.aoh-nav-background {
  left: auto;
  right: 0;
}

/**
 * 01. 04. Content
 */
.aoh-content {
  margin-left: 0;
  margin-right: 225px;
}

/**
 * 01. 05. Section
 */
.aoh-sections {
  float: right;
}

/**
 * 01. 06. Show all options
 */
.aoh-show-all .aoh-content {
  margin-right: 0;
  overflow: hidden;
}

.aoh-expand-all {
  float: right;
  right: auto;
  left: 40px;
  margin-right: 0;
  margin-left: 4px;
}

/**
 * 01. 07. Search Input
 */
.aoh-search {
  float: right;
}
.aoh-search input {
  margin: 0 0 0 5px;
}

/**
 * 01. 08. Copyright
 */
.aoh-copyright {
  float: right;
}

/**
 * 01. 09. Metabox
 */
.aoh-metabox {
  margin: -6px -12px -12px -12px;
}
.aoh-metabox .aoh-section-title {
  padding: 20px;
}

.aoh-section-title .aoh-section-icon {
  margin-left: 5px;
  margin-right: 0;
}

/**
 * 02. Fields
 */
.aoh-field .aoh-title {
  float: right;
}
.aoh-field .aoh-fieldset {
  float: left;
}

.aoh-pseudo-field {
  padding: 0 0 0 5px !important;
}

/**
 * 02. 01. Field: typography
 */
.aoh-field-typography select {
  margin: 0;
  width: 100%;
}
.aoh-field-typography .aoh--blocks-inputs .aoh--blocks {
  flex-direction: row-reverse;
}
.aoh-field-typography .aoh--unit {
  left: 4px;
  right: auto;
}

/**
 * 02. 02. Field: checkbox, radio
 */
.aoh-field-checkbox ul ul li,
.aoh-field-radio ul ul li {
  margin-left: 0;
  margin-right: 8px;
}
.aoh-field-checkbox ul ul li:first-child,
.aoh-field-radio ul ul li:first-child {
  margin-right: 0;
}
.aoh-field-checkbox .aoh--inline-list li,
.aoh-field-radio .aoh--inline-list li {
  margin-right: 0;
  margin-left: 15px;
}
.aoh-field-checkbox .aoh--text,
.aoh-field-radio .aoh--text {
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 03. Field: switcher
 */
.aoh-field-switcher .aoh--switcher {
  float: right;
}
.aoh-field-switcher .aoh--label {
  float: right;
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 04. Field: upload
 */
.aoh-field-upload .aoh--remove,
.aoh-field-upload .aoh--button {
  margin-left: 0;
  margin-right: 5px;
}

/**
 * 02. 05. Field: group
 */
.aoh-field-group .aoh-cloneable-title {
  padding: 15px 10px 15px 65px;
}
.aoh-field-group .aoh-cloneable-helper {
  right: auto;
  left: 10px;
}

/**
 * 02. 06. Field: repeater
 */
.aoh-field-repeater .aoh-repeater-helper {
  border-left: 0;
  border-right: 1px solid #eee;
}

/**
 * 02. 07. Field: help
 */
.aoh-help {
  right: auto;
  left: 5px;
}

/**
 * 02. 08. Field: icon
 */
.aoh-field-icon .button {
  margin-right: 0;
  margin-left: 5px;
}
.aoh-field-icon .aoh-icon-preview i {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 09. Field: gallery
 */
.aoh-field-gallery ul li {
  margin-right: 0;
  margin-left: 5px;
}
.aoh-field-gallery .button {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 11. Field: tabbed
 */
.aoh-field-tabbed .aoh-tabbed-nav .aoh--icon {
  padding-right: 0;
  padding-left: 5px;
}
.aoh-field-tabbed .aoh-tabbed-nav a {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 12. Field: media
 */
.aoh-field-media .button {
  margin-left: 0;
  margin-right: 7px;
}
.aoh-field-media .hidden + .button {
  margin-right: 0;
}

/**
 * 02. 13. Field: notice
 */
.aoh-notice {
  border-left: none;
  border-right-style: solid;
  border-right-width: 4px;
}

/**
 * 02. 14. Field: border, spacing, dimensions
 */
.aoh-field-dimensions .aoh--input,
.aoh-field-dimensions .aoh-fieldset,
.aoh-field-spacing .aoh--input,
.aoh-field-spacing .aoh-fieldset,
.aoh-field-border .aoh--input,
.aoh-field-border .aoh-fieldset {
  direction: ltr;
}
.aoh-field-dimensions .aoh--inputs,
.aoh-field-dimensions .aoh--color,
.aoh-field-spacing .aoh--inputs,
.aoh-field-spacing .aoh--color,
.aoh-field-border .aoh--inputs,
.aoh-field-border .aoh--color {
  float: right;
}
.aoh-field-dimensions .aoh--color,
.aoh-field-spacing .aoh--color,
.aoh-field-border .aoh--color {
  margin-right: 4px;
  direction: rtl;
}

/**
 * 02. 15. Field: background
 */
.aoh-field-background .aoh--block {
  float: right;
}
.aoh-field-background .aoh--select,
.aoh-field-background .aoh--media {
  padding-right: 0;
}
.aoh-field-background .aoh--title {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 02. 16. Field: spinner
 */
.aoh-field-spinner .aoh--spin {
  float: right;
  direction: ltr;
}

/**
 * 02. 17. Field: slider
 */
.aoh-field-slider .aoh-slider-ui {
  direction: ltr;
  margin-right: 0;
  margin-left: 15px;
}
.aoh-field-slider .aoh--input {
  direction: ltr;
}

/**
 * 02. 18. Field: button_set
 */
.aoh-field-button_set .aoh--button-group {
  float: right;
}

/**
 * 02. 19. Field: link_color
 */
.aoh-field-link_color .aoh--left {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 20. Field: color_group
 */
.aoh-field-color_group .aoh--left {
  float: right;
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 21. Field: palette
 */
.aoh-field-palette .aoh--palette {
  margin-right: 0;
  margin-left: 10px;
}

/**
 * 02. 22. Field: accordion
 */
.aoh-field-accordion .aoh--icon {
  margin-right: 0;
  margin-left: 2px;
}

/**
 * 02. 23. Field: date
 */
.aoh-field-date .aoh--to {
  margin-left: 0;
  margin-right: 7px;
}

/**
 * 02. 24. Field: map
 */
.aoh-field-map .aoh--map-input:last-child {
  padding-left: 0;
  padding-right: 10px;
}

/**
 * 02. 25. Field: sortable
 */
.aoh-field-sortable .aoh-sortable-helper {
  border-left: none;
  border-right: 1px solid #eee;
}

/**
 * 02. 26. Field: number
 */
.aoh-field-number .aoh--wrap {
  float: right;
}
.aoh-field-number .aoh--unit {
  left: 4px;
  right: auto;
}

/**
 * 03. Taxonomy
 */
.aoh-taxonomy-add-fields {
  margin-right: 0;
  margin-left: 30px;
}
.aoh-taxonomy-add-fields .aoh-field > .aoh-fieldset > .aoh-help {
  left: -5px;
  right: auto;
}

.aoh-taxonomy-edit-fields {
  margin-right: 0;
  margin-left: 35px;
}
.aoh-taxonomy-edit-fields .aoh-field > .aoh-fieldset > .aoh-help {
  right: auto;
  left: -5px;
}

/**
 * 04. Profile
 */
.aoh-profile-options > h2 > .fa {
  padding-right: 0;
  padding-left: 7px;
}
.aoh-profile-options > .aoh-field > .aoh-fieldset > .aoh-help {
  left: -5px;
  right: auto;
}

/**
 * 05. Nav Menu
 */
.aoh-nav-menu-options > .aoh-fields {
  margin-left: 0;
  margin-right: -10px;
}

.aoh-nav-menu-title {
  padding-left: 14px;
  padding-right: 12px;
}

.aoh-nav-menu-icon {
  margin-right: 0;
  margin-left: 5px;
}

/**
 * 06. Modal
 */
.aoh-modal-content .aoh-field {
  padding: 15px 15px 15px 30px;
}

.aoh-modal-title {
  padding: 0 16px 0 36px;
}

.aoh-modal-close {
  right: auto;
  left: 0;
}

/**
 * 07. Customizer
 */
.control-section .aoh-field .aoh-fieldset {
  margin-right: 0;
}

/**
 * 08. Responsive
 */
@media only screen and (max-width: 1200px) {
  .aoh-metabox .aoh-field .aoh-fieldset {
    margin-left: 0;
  }
}
@media only screen and (max-width: 782px) {
  .aoh .aoh-fieldset,
  .aoh .aoh-content {
    margin-right: 0;
  }
}
/**
 * 09. Others
 */
.aoh-field .aoh--transparent-slider {
  margin-left: 0;
  margin-right: 2px;
}
.aoh-field .aoh--transparent-slider .ui-slider-handle {
  margin: 0 -11px;
}
.aoh-field .aoh--transparent-offset {
  background-position: center right;
}
.aoh-field .aoh--transparent-text {
  right: auto;
  left: 10px;
}
